* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f6f6f6;
}
#feed {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 220px;
}
.post {
  /* border: 1px solid #cbcbcb; */
  /* box-shadow: 0 10px 10px rgb(199, 199, 199); */
  background-color: white;
  width: 100%;
}

.post-body {
  font-size: 32px;
  padding: 0 0 10px 20px;
}

.post-author {
  color: #666666;
  padding: 10px 0 10px 20px;
}

.post-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  padding: 20px;
}

.comment {
  width: 70%;
  background-color: #f6f6f6;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-content {
  display: flex;
  width: 100%;
}

.user-image {
  margin-right: 10px;
}
.user-image img {
  width: 40px;
}

.comment-details {
  flex: 1;
}

.comment-body {
  font-size: 30px;
}

.comment-actions {
  display: flex;
  color: #6ec8e6;
}
.comment-action {
  margin-right: 10px;
  cursor: pointer;
}

.add-comment {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
}
.edit-comment {
  display: flex;
  width: 100%;
}

.add-comment input,
.edit-comment input {
  padding: 10px;
  margin: 20px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}
.new-comment-user {
  width: 10%;
}
.new-comment-text,
.edit-comment-text {
  flex-grow: 1;
}

.new-comment-submit,
.edit-comment-submit {
  background: none;
  border: none;
  padding: 10px;
  margin: 20px;
  color: #6ec8e6;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  #feed {
    margin: 0px;
  }
  .post-comments {
    padding: 0;
    padding-bottom: 60px;
  }
  .comment {
    width: 90%;
  }
  .new-comment-submit,
  .edit-comment-submit {
    padding: 0;
    margin-right: 20px;
  }
  .add-comment input,
  .edit-comment input {
    padding: 10px;
    margin: 10px;
  }
  .add-comment {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
